/* Layout */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');


.navigation {
   font-size: 20px;
   display: flex;
   justify-content: center;
   
    
}

ul {
    text-align: center;
   justify-content: center;
   align-items: center;
    
}

li {
   
   display: inline;
   margin: 50px;
}

body {
    background-color: #a6a4a4;
}

A {
    text-decoration: none;
    color: white;
}

/* Home */
.homehero {
    border-radius: 15px;
    height: 50vh;
    width: 100vw;
    text-align: center;
    background: rgb(112, 112, 113);
    background: linear-gradient(90deg, rgba(179,179,185,1) 0%, rgb(88, 87, 87) 58%, rgba(60,60,60,1) 100%);
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.logo {
    width:10%;
    height: auto;
    position: relative;
    top: 25%;
}

.web {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    top:20%;
    text-transform: uppercase;
}

.btn {
    border-radius: 15px;
    background-color: #f692922b;
    cursor: pointer;
    border: 3px solid #1b0202;
    position: relative;
    top:20%;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
}

.btn:hover {
    transform: scale(1.1);
    background-color: #a6a4a4;
    
}